$headerLogo: #ffffff;
$themeTextColor: #ffffff;
$textMark: #ff4e33;
$buttonColor: #e3ac00;

$themeGradientStart: #e1a902;
$themeGradientEnd: #9a394b;

$themeImag: url(../img/m-h-night.jpg);

$bodyColor: #21232e;
$blockColor: #3b3f50;

$footerColor: #3b3f50;