$headerLogo: #2c2f3c;
$themeTextColor: #2c2f3c;
$textMark: #14a0c7;
$buttonColor: #699900;

$themeGradientStart: #64940f;
$themeGradientEnd: #2f5dd2;

$themeImag: url(../img/m-h-day.jpg);

$bodyColor: #ffffff;
$blockColor: #21232e;

$footerColor: #21232e;